<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <title>Serving static file</title>
</head>
<body>
    <div class="card">
        <h2>welcome to demo API</h2>
        <p>this is a demo movies API built using express JS and a json file as a data source.</p>
        <p>this is a simple demo HTML page to demo serving static files.</p>
    </div>
</body>
</html>